.shopping-cart {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  width: 1000px;
  display: inline-table;
}

.product-image {
  padding-right: 15px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-details {
  flex-grow: 1;
}

.product-name {
  font-size: 16px; /* 减少字体大小 */
  font-weight: bold;
  margin: 0;
  line-height: 1.2; /* 新增的属性，减少行间距 */
}

.product-price {
  font-size: 14px; /* 减少字体大小 */
  color: #333;
  margin: 5px 0;
}
