.header {
    min-width: 700px; 
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;  
    color: #003366;
}

.logo-section {
    display: flex;                
    align-items: center;
}

.logo {
    height: 40px;
}

.search-and-login {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    max-width: 200px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    flex-grow: 0;  
}

.search-bar {
    border: none;
    padding: 0.5rem;
    outline: none;
    flex-grow: 1;  
}

.search-btn {
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #555;
    font-size: 1rem;
}

.login-btn {
    background-color: #f8f8f8;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-left: 1rem; 
}