.payment {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.label_class {
  width: 80px;
  display: block;
}

.input {
  width: 50px;
  display: block;
}

.label {
  width: 120px;
  position: fixed;
  left: 10px;
  text-align: center;
  margin: 10px 0;
  display: block;
}

.h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.input, .create textarea, .create select {
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.product-item {
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.product-item:hover {
  transform: translateY(-5px);
}

/* 合并img-fluid的CSS规则 */
.product-item img.img-fluid {
  width: 200px;
  height: 200px;
  object-fit: contain;
  display: block;
  margin: auto;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: #FFF;
  border-radius: 8px;
  max-height: 200px;
  margin-bottom: 20px;
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item h5 {
  color: #333;
  font-weight: 400;
}

.product-item p {
  color: #000000;
  font-size: 14px;
}

.product-item input[type='number'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #003366;
  border-radius: 4px;
}

.price-value {
  font-size: 1.5em;
  font-weight: bold;
  color: #3B5998;
}



